[user]
  name = kimikimi714
  email = kimikimi714@gmail.com
[core]
	editor = vim
	excludesfile = /Users/kimikimi714/Documents/config/gitignoreGlobal
	pager = more -F -X
[color]
	ui = true
[alias]
	co = switch
	st = status -sb # シンプルなstatus
	lg = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	pr = pull --rebase --prune # pull するときにmergeコミットを作らない
	fo = fetch origin
	ro = rebase origin # branchでfoしてroすればmasterにrebaseできる
	rc = rebase --continue
	wd = diff --word-diff # 単語単位のdiff
	gn = grep -n # grepに行番号をつける
	d  = diff --ignore-space-change
	b  = branch
	cv = commit -v
	ap = add -p
	gl = grep -l
	pp = pull -p
[ghq]
	root = /Users/kimikimi714/Documents
[commit]
	template = /Users/kimikimi714/Documents/config/emoji.md
[pager]
	log = diff-highlight | nkf -w | more -F -X
	show = diff-highlight | nkf -w | more -F -X
	diff = diff-highlight | nkf -w | more -F -X

[interactive]
	diffFilter = diff-highlight | nkf -w
