[user]
	name = kimikimi714
	email = kimikimi714@gmail.com
	signingkey = /home/kimikimi714/.ssh/id_ed25519.pub
[core]
	editor = vim
	excludesfile = /home/kimikimi714/src/github.com/kimikimi714/dotfiles/gitignoreGlobal
	hooksPath = ~/.config/git/hooks
[color]
	ui = true
[alias]
	st = status -sb # シンプルなstatus
	lg = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	gn = grep -n # grepに行番号をつける
	d  = diff --ignore-space-change
	b  = branch
	cv = commit -v
	ap = add -p
	pp = pull -p
[ghq]
	root = /home/kimikimi714/src
[commit]
	template = /home/kimikimi714/src/github.com/kimikimi714/dotfiles/emoji.md
	gpgsign = true
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[gpg]
	format = ssh
