Host github.com
    IdentityFile ~/.ssh/id_rsa
Host sakura
    HostName something.com
    Port XXXXX
    IdentityFile ~/.ssh/id_rsa
Host web_server
  HostName 127.0.0.1
  User vagrant
  Port 2222
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/kimikimi714/.vagrant.d/insecure_private_key
  IdentitiesOnly yes
  LogLevel FATAL
Host db_server
  HostName 127.0.0.1
  User vagrant
  Port 2200
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/kimikimi714/.vagrant.d/insecure_private_key
  IdentitiesOnly yes
  LogLevel FATAL
